.landing-container{
  border: 1px solid grey;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  display: flex;
}

.song-containers {
  display: grid;
  grid-template-columns: repeat(4,250px);
  grid-template-rows: 300px 300px;
  place-items: center;
}
